<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd
                             http://java.sun.com/xml/ns/j2ee
                             http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         id="WebApp_9" version="2.4">

    <resource-ref>
        <description>Connection Pool</description>
        <res-ref-name>jdbc/finalproject</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <filter>
        <filter-name>SessionLocaleFilter</filter-name>
        <filter-class>cashier.servlet.SessionLocaleFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SessionLocaleFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>


    <!--============================================================
        i18n support
    =============================================================-->
    <!-- this way we set the resource bundle name -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>resources</param-value>
    </context-param>

    <!-- this way we set the default locale (optional) -->
    <!-- the (preferable) browser's locale will be used if we don't set the default locale -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
        <param-value>ru</param-value>
    </context-param>

    <!-- supported locales -->
    <context-param>
        <param-name>locales</param-name>
        <param-value>ru en ua</param-value>
    </context-param>


    <!--============================================================
        Controller
    =============================================================-->
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>cashier.servlet.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCategoriesServlet</servlet-name>
        <servlet-class>cashier.servlet.GetCategoriesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCategoriesServlet</servlet-name>
        <url-pattern>/categories</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetProductsByCategory</servlet-name>
        <servlet-class>cashier.servlet.GetProductsByCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetProductsByCategory</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetProductById</servlet-name>
        <servlet-class>cashier.servlet.GetProductById</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetProductById</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>

    <!--============================================================
        Encoding support filter
    =============================================================-->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>cashier.servlet.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>


    <!--============================================================
        Context listener
    =============================================================-->
    <listener>
        <listener-class>cashier.web.listener.ContextListener</listener-class>
    </listener>


    <!--============================================================
        Error page
    =============================================================-->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error_page.jsp</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/error_page.jsp</location>
    </error-page>
</web-app>